.body{
    background-color: white;
}
.judul {
    color: #31081F;
    font-family: "Montserrat", sans-serif;
}

.bg-round {
    background-color: #A79EAF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
}
.image{
    
}